<h1 class = "p-3">Ask your coach a question!!</h1>
<form action = "/answer" data-turbo = "false" method = "get" class = "p-3">
  <input type = "text" name ="answer" value="<%= params[:question] %>">
  <input type = "submit" value ="Ask!">
</form>

